.DS_Store
/.quarto/
_book/
tmp/
DS0001
DS0005
/.luarc.json

**/*.quarto_ipynb
polish-descriptive.md

_freeze/**/execute-results/tex.json
_freeze/**/figure-pdf/
**/*_cache/pdf/
**/*_files/figure-pdf/
*_files